body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #00193b;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* HTML: <div class="loader"></div> */
.loading-page{
  position: fixed;
  z-index: 9999;
  background: aliceblue;
  width: 100%;
  height: 100%;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  .loader{
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;  
    animation: l21 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    font-size: 50px;
  }
  .loader::before {
    content :"Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg,#fff 50%,#000 0);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l21{
    100%{background-position: left}
  }
  
}

::-webkit-scrollbar {
  background-color: #1a1d20;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #00193b, #4f89fc);
}

.sidebar::-webkit-scrollbar {
  background-color: #1a1d20;
  width: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #00193b, #4f89fc);
}

.btn {
  text-transform: capitalize;
}
table tr td,
table tr th {
  background-color: #031123 !important;
  color: #fff !important; 
  
}


.system {
  .row > * {
    padding-right: 0;
    padding-left: 0;
  }

  .sidebar {
    background: #031123;
    color: #ccc;
    padding: 10px 15px 10px 15px;
    height: 100vh;
    position: fixed;
    width: 25%;
    overflow: auto;

    h3 {
      padding: 3px 15px 10px 3px;
      font-size: 22px;
      margin: 7px 0;
    }
    label {
      text-transform: capitalize;
    }

    .form-control {
      margin: 10px 0;
      background: #010d1c;
      border-color: #354585;
      color: #ddd;
      &:hover {
        background-color: #00193b;
        color: #fff;
      }
    }

    .total {
      margin: 20px 0;
      background: linear-gradient(to right, #1a1d20, #4f89fc);
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 66, 154, 1);
      font-weight: bold;
      &:before {
        content: "Total : ";
      }
    }

    .create-btn {
      width: 100%;
      background: #010d1c;
      border-color: #354585;
      margin-top: 10px;
      &:hover {
        background-color: #00193b;
        color: #fff;
      }
    }
  }

  .content {
    .delete-all {
      margin: 15px 0 20px 0;
      width: 90%;
      background: #010d1c;
      border-color: #354585;
      display: none;
      &:hover {
        background-color: #00193b;
        color: #fff;
      }
      .fa-trash-can {
        margin-left: 5px;
      }
    }
    .search {
      display: flex;
      width: 90%;
      margin: 20px auto 20px auto;

      .form-control {
        background: #031123;
        color: #ccc;
        border-color: #354585;
        &::placeholder {
          color: #8d8d99;
        }
        &:focus {
          border: 0;
        }
      }
      .search-btn {
        width: 40%;
        margin-left: 10px;
        color: #fff;
        background: #010d1c;
        border-color: #354585;
        &:hover {
          background-color: #00193b;
          color: #fff;
        }
      }
    .mode{
      margin-left: 10px;
      cursor: pointer;
      img{
        width: 100%;
      }
      #moon{
        display: none;
      }
    }
    
    }
    .table-wrapper {
      width: 90%;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 66, 154, 1);

      .btn {
        background-color: #0a458f;
        border: 0;
        font-weight: 500;
        &:hover {
          background-color: #4f89fc;
          border: 0;
        }
        span {
          margin-right: 5px;
        }
      }
    }
    .table>:not(caption)>*>*{
    border-bottom-width: 0.5px;
    border-color: #000 !important;
    }
  
  }
}

.light{
  background-color: #f1f1f1;
  transition: all ease-in-out .2s;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
}



